<div class="container" style="margin-top: 70px;">
    <form [formGroup]="dashboardForm" (ngSubmit)="ngOnSubmit()">
        <div class="form-group form-row justify-content-center flex-v-center">
            <div class="col-auto">
                <label for="domain">Select Domain:</label>
            </div>
            <div class="col-auto">
                <select formControlName="domain" class="form-control">
                    <option disabled>Select</option>
                    <option *ngFor="let domain of domainList" [value]="domain.id">{{domain.name}}</option>
                </select>
                <div *ngIf="formControls.domain.touched && formControls.domain.invalid" class="invalid-element">
                    <div *ngIf="formControls.domain.errors.required">Domain Required.</div>
                </div>
            </div>
            <div class="col-auto">
                <label for="domain">Filter Activity by Date/Range:</label>
            </div>
            <div class="col-auto">
                <input type="hidden" name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                    [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                    outsideDays="hidden" [startDate]="fromDate!">
                <ng-template #t let-date let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                    </span>
                </ng-template>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                        [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                            type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                        [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                            type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" [disabled]="!dashboardForm.valid">Submit</button>
            </div>
        </div>
        <div class="container" style="margin-top: 70px;">
            <table class="table table-hover">
                <thead>
                    <th>USERNAME</th>
                    <ng-container *ngFor="let column of columnList">
                        <th>{{column.columnName}}</th>
                    </ng-container>
                    <ng-template #avgTimeTipContent>
                        <div class="text-left" *ngFor="let activityTime of activityTimeList">
                            <span>{{activityTime.approxTime}}</span>
                        </div>
                    </ng-template>
                    <th>TIME SPENT <i class="fa fa-question-circle" placement="top"
                            [ngbTooltip]="avgTimeTipContent"></i>
                    </th>
                    <ng-template #totalTimeTipContent>
                        <span>Active Hours in System for the selected Date/Range</span>
                    </ng-template>
                    <th>LOGGED IN HOURS <i class="fa fa-question-circle" placement="right"
                            [ngbTooltip]="totalTimeTipContent"></i>
                    </th>
                </thead>
                <tbody *ngIf="reportList?.length">
                    <tr *ngFor="let report of reportList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>{{report.userName}}</td>
                        <td>{{report.profileViewedCount}}</td>
                        <td>{{report.messageSentCount}}</td>
                        <td>{{report.jobSearchedCount}}</td>
                        <td>{{report.profileConnectCount}}</td>
                        <td>{{report.globalSearchedCount}}</td>
                        <td>{{report.peopleSearchedCount}}</td>
                        <td>{{report.avgTimeSpent}}</td>
                            <td class="text-danger" *ngIf="report.sessionError" placement="bottom" ngbTooltip="Missed activity for {{report.sessionError}}">{{report.totalTimeSpent ? report.totalTimeSpent : 'Not Available'}}</td>
                            <td *ngIf="!report.sessionError">{{report.totalTimeSpent ? report.totalTimeSpent : 'Not Available'}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="!reportList?.length">
                    <tr>
                        <td colspan="9" align="center">No Activity Found</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="reportList?.length" class="form-group form-row justify-content-center flex-v-center">
                <ngb-pagination [collectionSize]="reportList.length" [(page)]="page" [pageSize]="pageSize"
                    [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Loading, Please Wait.. </p>
        </ngx-spinner>
    </form>
</div>